{{ define "main" }}
<div class="themes">
    <main class="main-wrapper content-with-sidebar min-vh-100 pb7 pb0-ns">
        <link href="{{  "css/themes.css" | absURL }}" rel="stylesheet" type="text/css">
        <div class="transparent-navbar_spacer"></div>

        <article class="cf pv3 pv5-ns ph0 ph4-l" style="margin: auto; max-width: 80rem;">

            <div class="flex-l items-center pa4 pa0-l w-100">
                <h1 class="primary-color-dark f2">
                    Themes
                </h1>
                <div class="flex-auto-l"></div>
                <div class="flex flex-wrap justify-between">
                    <a href="{{ "" | absURL }}" class="bg-primary-color br2 dib-l f6 hover-bg-accent-color link ph3 pv2 white ml5-l">
                        All Themes
                    </a>
                </div>
            </div>

            <div class="flex-l bg-light-gray">
                <div class="w-100 w-50-l pa4">
                    <div>
                        {{ partial "theme-details" . }}
                    </div>
                    <div>
                        {{ partial "theme-buttons" . }}
                    </div>
                </div>
                <div class="w-100 w-50-l pa4">
                    {{ $img := (.Resources.ByType "image").GetMatch "*screen*" }}
                    {{ with $img }}
                    {{ $big := .Fill "1500x1000 top" }}
                    {{ $small := .Fill "750x500 top" }}
                    <img srcset="{{ $small.RelPermalink | absURL }} 1x, {{ $big.RelPermalink | absURL }} 2x" alt="{{ $.Title }}"
                         width="{{ $small.Width }}" class="fit shadow-2"/>
                    {{ end }}
                </div>
            </div>

            <div class="w-100 w-80-l pv5 ph4 ph5-ns center nested-links overflow-hidden ">
                {{ .Content }}
            </div>

        </article>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
</div>
{{ end }}
