{{ $buttonClasses := "bg-accent-color br2 hover-bg-primary-color hover-light-gray link ph3 pv2 white" }}
<div class="mt4">
  {{ if not site.Params.hideHTMLLink }}
    {{ with .Params.htmlURL }}
      <a class="{{ $buttonClasses }}" href="{{ . }}">
        <i class="fa fa-download"></i>
        Download
      </a>
    {{ end }}
  {{ end }}
  {{ if not site.Params.hideDemoLink }}
    {{ with .Params.meta.demosite }}
      <a class="{{ $buttonClasses }}" href="{{ . }}">
        <i class="fa fa-road"></i>
        Demo
      </a>
    {{ end }}
  {{ end }}

  {{ with .Params.modulePath }}
  <a class="{{ $buttonClasses }}" id="copy-path-button" href="javascript:void(0);" onclick="copyModulePath('{{ . }}')">
    <i class="fa fa-download"></i>
    Copy Path
  </a>
  <script>
    function copyModulePath(modulePath) {
      // 创建一个临时的 textarea 元素
      const textarea = document.createElement('textarea');
      textarea.value = modulePath;
      document.body.appendChild(textarea);

      // 选中并复制内容
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);

      // 显示自定义提示框
      showCopyPathToast('Copied module path: ' + modulePath);
    }

    function showCopyPathToast(message) {
      // 创建提示框元素
      const toast = document.createElement('div');
      toast.innerText = message;
      toast.style.position = 'fixed';
      toast.style.bottom = '20px';
      toast.style.left = '50%';
      toast.style.transform = 'translateX(-50%)';
      toast.style.backgroundColor = '#333';
      toast.style.color = '#fff';
      toast.style.padding = '10px 20px';
      toast.style.borderRadius = '5px';
      toast.style.boxShadow = '0 2px 5px rgba(0, 0, 0, 0.3)';
      toast.style.fontSize = '14px';
      toast.style.zIndex = '1000';
      toast.style.opacity = '1';
      toast.style.transition = 'opacity 0.5s ease';

      // 添加到页面中
      document.body.appendChild(toast);

      setTimeout(() => {
        toast.style.opacity = '0';
        setTimeout(() => {
          document.body.removeChild(toast);
        }, 500); // 等待过渡效果完成
      }, 5000);
    }
  </script>
  {{ end }}

</div>
